{% extends 'members/base.html' %}
{% load static %}

{% block title %}
    <title>SpicyX | Explorer</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/m-home.css' %}" media="screen"/>
{% endblock %}

{% block scripts %}
    <script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>
{% endblock %}

{% block content %}
    <main>
        <div id="home-post-form" class="post-form invisible-content">
            <div id="selector-media-post">
                <div id="mediaImage" class="selector-media-image" onclick="selectorMediaForPost('mediaImage')">
                    <i class="camera icon"></i>
                    <b>FOTO</b>
                </div>
                <div id="mediaVideo" class="selector-media-video" onclick="selectorMediaForPost('mediaVideo')">
                    <i class="video icon"></i>
                    <b>VÍDEO</b>
                </div>
            </div>
            <div id="containerImage" class="post-image-form invisible-content">
                <span id="back-to-selector-media" onclick="returnToSelectorMedia('containerImage')"><i
                        class="undo icon"></i></span>
                <form id="post-image-form" name="post-image-form" action="/m/uploadimage/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="page" value="explorer">
                    <label for="post-image" class="custom-post-file"><i
                            class="camera icon"></i><span id="span_send_image_file">Carregar imagem</span></label>
                    <input type="file" id="post-image" name="post-image"/>
                    <script>
                    $(document).ready(function(){
                      $('#post-image').change(function(e){
                        var fileName = e.target.files[0].name;
                        span_target = document.getElementById('span_send_image_file')
                          span_target.innerHTML = ''
                          span_target.insertAdjacentText('beforeend', fileName.slice(0, 10))
                      });
                    });
                    </script>

                    <div class="ops-post">
                        <label for="media-status">Escolha uma opção:</label>
                        <select id="media-status" name="media-status">
                          <option value="free">FREE</option>
                            {% if mySession.profile.user_creator == True %}
                                <option value="premium">PREMIUM</option>
                            {% endif %}
                        </select>
                    </div>

                    <textarea name="subtitles" placeholder="Legenda..." maxlength="400"></textarea>

                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                    <button id="send_image_home" type="submit" name="send-file">POSTAR</button>
                </form>
            </div>
            <div id="containerVideo" class="post-video-form invisible-content">
                <span id="back-to-selector-media" onclick="returnToSelectorMedia('containerVideo')"><i class="undo icon"></i></span>
                <form id="post-video-form" name="post-video-form" action="/m/uploadvideo/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="page" value="explorer">
                    <div>
                        <label for="post-video" class="custom-post-file"><i class="video icon"></i>
                        <span id="span_send_video_file">Carregar vídeo</span></label>
                        <input type="file" id="post-video" name="post-video"/>
                        <script>
                        $(document).ready(function(){
                          $('#post-video').change(function(e){
                            var fileName = e.target.files[0].name;
                            span_target = document.getElementById('span_send_video_file')
                              span_target.innerHTML = ''
                              span_target.insertAdjacentText('beforeend', fileName.slice(0, 10))
                          });
                        });
                        </script>
                    </div>

                    <div class="ops-post">
                        <label for="media-status">Escolha uma opção:</label>
                        <select id="media-status" name="media-status">
                          <option value="free">FREE</option>
                            {% if mySession.profile.user_creator == True %}
                                <option value="premium">PREMIUM</option>
                            {% endif %}
                        </select>
                    </div>
                    <textarea id="subtitles" name="subtitles" placeholder="Legenda..." maxlength="400"></textarea>

                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                    <button id="send_video_home" type="submit" name="send-file">POSTAR</button>
                </form>
            </div>
        </div>

        <div class="feed">
            <div class="field">
            </div>
            <div id="feed-content" class="feed-content">

                <div class="search-explorer">
                    <form name="search-form">
                        <div class="search-divisor">
                            <input type="text" id="search-input" name="search_user" placeholder="Buscar"
                                   autocomplete="off">
                        </div>
                    </form>
                    <div id="search-results" class="search-results"></div>
                    <script>
                        $(document).ready(function () {
                            $('#search-input').on('keyup', function () {
                                var query = $(this).val();
                                $.ajax({
                                    url: '/m/search/',
                                    data: {
                                        'q': query
                                    },
                                    dataType: 'json',
                                    success: function (data) {
                                        var resultsDiv = $('.search-results');
                                        resultsDiv.empty();
                                        if (data.searchResult && Array.isArray(data.searchResult)) {
                                            data.searchResult.forEach(function (result) {
                                                if (result.nickname) {
                                                    if (result.user_verified === true) {
                                                        var userverified = '<i class="certificate icon"><b>✔</b></i>'
                                                    } else {
                                                        userverified = ''
                                                    }
                                                    var useritem = '<div class="found-user"><a href="/m/@' + result.nickname + '">' + '<span><span style="background-image:url(' + "'" + result.profile_avatar + "'" + ')"></span></span>' + '<b>@' + result.nickname + userverified + '</b></a></div>'
                                                    resultsDiv.append(useritem)
                                                }
                                            })
                                        }
                                    }
                                });
                            });
                        });
                    </script>
                </div>

                {% for post in feed %}
                {% if post.post_hidden == False and post.post_deleted == False and post.media_free == True and post.media_premium == False %}
                    <div class="post">
                    <div class="post-ops">
                        <div class="post-user">
                            <a href="/m/@{{ post.profile_creator.nickname }}">
                                <span><span
                                        style="background-image: url('{{ post.profile_creator.profile_avatar }}');"></span></span>
                                <b>{{ post.profile_creator.user.first_name }} {{ post.profile_creator.user.last_name }}
                                    {% if post.profile_creator.user_verified == True %}
                                    <i class="certificate icon"><b>✔</b></i>
                                    {% endif %}
                                </b>
                            </a>
                        </div>

                        <div id="confirm_action_container" class="confirm_action_container">
                            <div id="confirm_action_container_for_close" class="confirm_action_container_for_close"
                                 onclick="confirmation('close')"></div>
                            <div id="confirm_action" class="confirm_action">
                                <span>
                                    Ao clicar em CONFIRMAR o post será deletado permanentemente e esta ação não pode ser revertida.
                                </span>
                                <form name="deletePost{{ post.id }}" action="/m/deletepost/" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="page" value="explorer">
                                    <input type="hidden" name="post" value="{{ post.id }}">
                                    <input type="hidden" name="user_id" value="{{ mySession.id }}">
                                    <button onclick="document.forms['deletePost{{ post.id }}'].submit()">Confirmar
                                    </button>
                                </form>
                            </div>
                        </div>

                        {% if post.profile_creator.user.id == mySession.id %}
                        <div class="post-menu-dropdown-icon" onclick="openDropdownMenu('post{{ post.id }}')">
                            <i class="ellipsis vertical icon"></i>
                            <div id="post{{ post.id }}" class="dropdown-container invisible-content">
                                <div class="menu">
                                <form>
                                    <div class="item" onclick="confirmation('open')">
                                        <span><i class="trash icon"></i></span>DELETAR
                                    </div>
                                </form>
                                <form name="hiddenPost{{ post.id }}" action="/m/changehidden/" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="hidden">
                                    <input type="hidden" name="page" value="explorer">
                                    <input type="hidden" name="post" value="{{ post.id }}">
                                    <input type="hidden" name="user_id" value="{{ mySession.id }}">
                                    <div class="item" onclick="document.forms['hiddenPost{{ post.id }}'].submit()">
                                        <span><i class="eye slash icon"></i></span>OCULTAR
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    </div>

                    <div class="image-subtitles">
                        {{ post.subtitles }}
                    </div>

                    {% if post.media_type == 'IMAGE' %}
                        <div class="home-preview-container">
                        <span class="post-image" style="background-image: url('{{ post.media_url }}');" onclick='fullscreenMeida("open", "img{{ post.id }}", false, null)'></span>

                        <div class="status-preview">
                        {% if post.media_premium == True %}
                        <i class="dollar sign icon"></i>
                        {% endif %}
                        </div>
                    </div>
                        <div id="img{{ post.id }}" class="fullscreen-closed">
                        <div class="for-close-full" onclick='fullscreenMeida("close", "img{{ post.id }}", false, null)'></div>
                        <div class="fullscreen-container">

                            <span class="image-full"
                                  style="background-image: url('{{ post.media_url }}');"></span>
                        </div>
                    </div>
                    {% endif %}
                    {% if post.media_type == 'VIDEO' %}
                        <div class="video-container">
                            <iframe
                                    id="panda-{{ post.media_url }}"
                                    class="pandavideo-iframe"
                                    src="https://player-vz-cc49f916-dfc.tv.pandavideo.com.br/embed/?v={{ post.media_url }}"
                                    allow="accelerometer;gyroscope;autoplay;encrypted-media;"
                                    allowfullscreen='true'>
                            </iframe>
                        </div>
                        <script>
                        window.pandascripttag = window.pandascripttag || [];
                        window.pandascripttag.push(function (){
                          const player = new PandaPlayer('panda-{{ post.media_url }}', {
                                onReady: () => {
                                    //console.log('PLAYER LOADED')
                              }
                          })
                        })
                        </script>
                    {% endif %}

                    <div class="post-interactions">
                        <span>
                                <form name="deslike{{ post.id }}" action="/m/likepost/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="page" value="explorer">
                                <input type="hidden" name="post" value="{{ post.id }}">
                                <input type="hidden" name="creator" value="{{ post.profile_creator.user.id }}"/>
                                <input type="hidden" name="fan_id" value="{{ mySession.id }}"/>
                                <input type="hidden" name="fan_nick" value="{{ mySession.profile.nickname }}"/>
                                <input type="hidden" name="action" value="deslike">
                                </form>

                                <form name="like{{ post.id }}" action="/m/likepost/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="page" value="explorer">
                                <input type="hidden" name="post" value="{{ post.id }}"/>
                                <input type="hidden" name="creator" value="{{ post.profile_creator.user.id }}"/>
                                <input type="hidden" name="fan_id" value="{{ mySession.id }}"/>
                                <input type="hidden" name="fan_nick" value="{{ mySession.profile.nickname }}"/>
                                <input type="hidden" name="action" value="like"/>
                                </form>

                                {% if post.id in liked_post_ids %}
                                    <i id="heart{{ post.id }}" class="heart icon"></i>
                                    {% else %}
                                    <i id="heart{{ post.id }}" class="heart outline icon"></i>
                                {% endif %}

                                <b id="b{{ post.id }}">{{ post.likedpost_set.count }}</b>
                        </span>
                        <span><i class="comment dots outline icon" onclick="postComment('commentPost{{ post.id }}')"></i>
                            <b>{{ post.commentpost_set.count }}</b>
                        </span>
                        <div id="commentPost{{ post.id }}" class="post-comment-container invisible-content">
                            <div class="post-comment-form">
                                <form action="/m/savecomment/" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="page" value="explorer">
                                    <input type="hidden" name="action" value="comment">
                                    <input type="hidden" name="post" value="{{ post.id }}">
                                    <input type="hidden" name="creator" value="{{ post.profile_creator.user.id }}">
                                    <input type="hidden" name="fan_id" value="{{ mySession.id }}">
                                    <input type="hidden" name="fan_nick" value="{{ mySession.profile.nickname }}">
                                    <input type="text" name="comment" placeholder="Comente algo..." autocomplete="off"/>
                                    <button type="submit">COMENTAR</button>
                                </form>
                            </div>
                            <div class="post-comments-container">

                                {% for comment in comments %}
                                    {% if comment.post.id == post.id %}

                                <div class="comment-item">
                                    <div class="user-area">
                                        <a href="/m/@{{ comment.fan_nickname }}">
                                            <span><span class="user-avatar"
                                                        style="background-image: url('{{ comment.profile_fan.profile_avatar }}');"></span></span>
                                            <b>{{ comment.profile_fan.user.first_name }} {{ comment.profile_fan.user.last_name }}</b>
                                        </a>
                                        <div class="comment-ops">
                                                    <form name="deslikeComment{{ comment.id }}" action="/m/likecomment/" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="page" value="explorer">
                                                    <input type="hidden" name="post" value="{{ post.id }}"/>
                                                    <input type="hidden" name="comment" value="{{ comment.id }}"/>
                                                    <input type="hidden" name="user_id" value="{{ mySession.id }}"/>
                                                    <input type="hidden" name="action" value="deslike"/>
                                                    </form>

                                                    <form name="likeComment{{ comment.id }}" action="/m/likecomment/" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="page" value="explorer">
                                                    <input type="hidden" name="post" value="{{ post.id }}"/>
                                                    <input type="hidden" name="comment" value="{{ comment.id }}"/>
                                                    <input type="hidden" name="user_id" value="{{ mySession.id }}"/>
                                                    <input type="hidden" name="action" value="like"/>
                                                    </form>

                                                    {% if comment.id in liked_comment_ids %}
                                                        <i id="heartcomment{{ comment.id }}" class="heart icon"></i>
                                                    {% else %}
                                                        <i id="heartcomment{{ comment.id }}" class="heart outline icon"></i>
                                                    {% endif %}

                                                    <script>
                                                        $(document).ready(function () {
                                                            $("#heartcomment{{ comment.id }}").click(function (e) {
                                                                e.preventDefault();
                                                                var heart_condition_c = document.getElementById("heartcomment{{ comment.id }}")
                                                                if (heart_condition_c.classList.contains('outline')) {
                                                                    var forml_c{{ comment.id }} = $('form[name="likeComment{{ comment.id }}"]')
                                                                    $.ajax({
                                                                        url: forml_c{{ comment.id }}.attr("action"),
                                                                        type: forml_c{{ comment.id }}.attr("method"),
                                                                        data: forml_c{{ comment.id }}.serialize(),
                                                                        success: function () {
                                                                            document.getElementById("heartcomment{{ comment.id }}").classList.remove("outline")
                                                                        }
                                                                    });
                                                                } else {
                                                                    var formd_c{{ comment.id }} = $('form[name="deslikeComment{{ comment.id }}"]')
                                                                    $.ajax({
                                                                        url: formd_c{{ comment.id }}.attr("action"),
                                                                        type: formd_c{{ comment.id }}.attr("method"),
                                                                        data: formd_c{{ comment.id }}.serialize(),
                                                                        success: function () {
                                                                            document.getElementById("heartcomment{{ comment.id }}").classList.add("outline")
                                                                        }
                                                                    });
                                                                }
                                                            });
                                                        });
                                                    </script>

                                            {% if comment.profile_fan.user.id == mySession.id or comment.post.profile_creator.user.id == mySession.id %}
                                                <form name="deleteComment{{ comment.id }}" action="/m/deletecomment/" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="page" value="explorer"/>
                                                <input type="hidden" name="post" value="{{ post.id }}"/>
                                                <input type="hidden" name="comment" value="{{ comment.id }}"/>
                                                <input type="hidden" name="user_id" value="{{ mySession.id }}"/>
                                                <i class="trash icon" onclick="document.forms['deleteComment{{ comment.id }}'].submit()"></i>
                                                </form>
                                                {% endif %}

                                        </div>
                                    </div>
                                    <div class="user-comment">
                                        {{ comment.fan_comment }}
                                    </div>
                                </div>

                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>

            <div class="load_more_posts">
                <form name="load_more_posts_form">
                    <button id="b_load_posts" type="submit">Carregar mais</button>
                </form>
            </div>

        </div>

    </main>
{% endblock %}
{% block scripts_end %}
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('{{recaptcha_site_key}}', {action: "/m/explorer/"}).then(function (token) {
            var inputs = document.querySelectorAll('input[name="g-recaptcha-response"]')
            inputs.forEach(function (input) {
                input.value = token
            })
        });
    });
</script>

<script>
    $(document).ready(function () {
        let count_calls = 25
        $('#b_load_posts').click(function (p) {
            p.preventDefault();
            const feed = document.getElementById('feed-content')
            $.ajax({
                url: `/m/api/load_more_posts/${count_calls}/explorer/`,
                type: 'GET',
                success: function (posts) {
                    if (posts.has_more == false) {
                        document.getElementById('b_load_posts').style.display = 'none'
                        return
                    }
                    count_calls += 25
                    feed.insertAdjacentHTML('beforeend', posts);
                }
            })
        })
    })
</script>
<script>
    $(document).on('click', '[id^="heart"]', function (e) {
        e.preventDefault();
        var heartId = this.id.replace('heart', '')
        var heart_condition = document.getElementById("heart" + heartId)
        if (heart_condition.classList.contains('outline')) {
            var forml{{ post.id }} = $('form[name="like' + heartId + '"]')
            $.ajax({
                url: forml{{ post.id }}.attr("action"),
                type: forml{{ post.id }}.attr("method"),
                data: forml{{ post.id }}.serialize(),
                success: function () {
                    document.getElementById("heart" + heartId).classList.remove("outline")
                    var bnew{{ post.id }} = document.getElementById("b" + heartId)
                    var likesnow{{ post.id }} = Number(bnew{{ post.id }}.textContent) + 1
                    bnew{{ post.id }}.innerHTML = ''
                    bnew{{ post.id }}.innerHTML = likesnow{{ post.id }}
                }
            });
        } else {
            var formd{{ post.id }} = $('form[name="deslike' + heartId + '"]')
            $.ajax({
                url: formd{{ post.id }}.attr("action"),
                type: formd{{ post.id }}.attr("method"),
                data: formd{{ post.id }}.serialize(),
                success: function () {
                    document.getElementById("heart" + heartId).classList.add("outline")
                    var b_new{{ post.id }} = document.getElementById("b" + heartId)
                    var deslikesnow{{ post.id }} = Number(b_new{{ post.id }}.textContent) - 1
                    b_new{{ post.id }}.innerHTML = ''
                    b_new{{ post.id }}.innerHTML = deslikesnow{{ post.id }}
                }
            });
        }
    });
</script>

<script>
    window.addEventListener('scroll', function () {
        var videos = document.querySelectorAll('.pandavideo-iframe');
        videos.forEach(function (video) {
            var videoRect = video.getBoundingClientRect();
            var iframe = video.contentWindow;

            if (videoRect.bottom < 0 || videoRect.top > window.innerHeight) {
                iframe.postMessage({type: 'pause'}, '*');
            }
        });
    });
</script>
<script>
    document.getElementById("send_video_home").addEventListener('click',
    function (event) {
        event.preventDefault();
        var button = event.target;
        button.disabled = true;
        button.innerHTML = '<div class="ui tiny active centered inline loader"></div>';
        var videoForm = document.getElementById("post-video-form");
        videoForm.submit();
        $.toast({
            title: 'Info.',
            class: 'info',
            message: 'Aguarde o upload ser concluído.',
            showProgress: 'bottom',
            classProgress: 'pink',
            position: 'bottom left',
            displayTime: 5000
        });
    })

    document.getElementById("send_image_home").addEventListener('click',
    function (event) {
        event.preventDefault();
        var button = event.target;
        button.disabled = true;
        button.innerHTML = '<div class="ui tiny active centered inline loader"></div>';
        var videoForm = document.getElementById("post-image-form");
        videoForm.submit();
        $.toast({
            title: 'Info.',
            class: 'info',
            message: 'Aguarde o upload ser concluído.',
            showProgress: 'bottom',
            classProgress: 'pink',
            position: 'bottom left',
            displayTime: 5000
        });
    })
</script>
{% endblock %}