@media only screen and (max-width: 450px) {
    /* My profile - mobile styles */



nav div.open-notifications .notifications-container {
    position: absolute;
    top: 2em;
    right: 0;
    width: 11.5em;
    height: 13em;
    border-radius: 5px;
    box-shadow: var(--shadows-medium) 5px 5px 10px;
    background-color: var(--light-background);
    overflow-y: auto;
    border: var(--light-border) 1px solid;
}
.container main > .my-cover {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100vw; /* aqui */
    height: 140px; /* aqui 20em */
    min-height: 140px;
    background-color: var(--light-background);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
}
.user-data-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 99vw; /* aqui */
    height: 13em;
    border-radius: 0 0 5px 5px;
    background-color: var(--light-background);
}
.user-data-container > .user-image-profile {
    display: grid;
    width: fit-content;
    align-items: center;
    height: fit-content;
    position: absolute;
    top: 7.55em;
    margin-left: .5em;
}
.user-data-container .user-name-titulo > div > b {
    /*display: flex;*/
    /*align-items: center;*/
    width: 10.8em;
    height: 2em;
    font-size: 1.5em;
    font-weight: 900;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: .15em;
}
.user-data-container .user-bio {
    display: grid;
    grid-template-columns: 1fr 1em;
    width: 100%;
    padding: 0 2.5em 0 2.5em;
    margin-bottom: 1em;
}
.user-data-container .user-bio > div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
main .post-form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    background-color: var(--light-background);
    width: 99vw; /* aqui */
    height: fit-content;
    align-self: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--dark-border);
}
.post-form .custom-post-file {
    display: flex;
    width: 13em;
    height: 2em;
    margin-top: 1em;
    background-color: var(--light-buttom);
    border: 1px solid var(--dark-border);
    cursor: pointer;
    transition: .75s;
    border-radius: 5px;
}
main .feed {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    background-color: var(--light-background);
    width: 99vw; /* 99 aqui */
    height: fit-content;
    align-self: center;
    align-items: center;
    border-radius: 5px;
}
.my-feed-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;
    width: 100%;
    height: fit-content;
    background-color: var(--light-background);
    padding: 1em 0 1em 0;
    justify-items: center;
}
.my-feed-content .media-field {
    position: relative;
    width: 8.5em; /* aqui 9em */
    height: 8.5em;
}
.my-feed-content .media-field > div.status-preview {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1em;
}
.my-feed-content .media-field > .bg-fullscreen,
.container .feed .feed-content .post > .bg-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}
.for-close-full {
    position: absolute;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    z-index: 3;
}
@keyframes openFullscreen {
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 29em;
        height: 39em;
    }
}
.media-field .bg-fullscreen > .fullscreen-container,
.post .bg-fullscreen > .fullscreen-container {
    position: relative;
    background-color: var(--light-background);
    border-radius: 5px;
    padding: 1em;
    animation: openFullscreen .75s;
    animation-fill-mode: both;
    text-align: right;
    z-index: 4;
}
.media-field .bg-fullscreen > .fullscreen-container > i,
.post .bg-fullscreen > .fullscreen-container > i {
    font-size: 1.75em;
    margin-right: 1em;
    cursor: pointer;
}

.media-field .bg-fullscreen > .fullscreen-container > div.image-subtitles,
.post .bg-fullscreen > .fullscreen-container > div.image-subtitles {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 8em;
    text-align: left;
    padding: 1em 1em 2em 1em;
    transition: .75s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    border-radius: 0 0 5px 5px;
}
.fullscreen-container > div.image-subtitles:hover {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0 0 5px 5px;
    color: #FFFFFF;
    transition: .75s;
}
.fullscreen-closed,
.invisible-content {
    display: none;
}
.my-feed-content .media-field > span.image-min {
    display: flex;
    width: 100%; /* aqui 100%*/
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--shadows-medium) 5px 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.bg-fullscreen > .fullscreen-container > span.image-full {
    display: flex;
    width: 100%;
    height: 99%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat no-repeat;
}

.media-field > .bg-fullscreen > .comments-on-my-post {
    position: fixed;
    width: 29em;
    height: 39em;
    background-color: var(--light-background-pink);
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}
.media-field > .bg-fullscreen > .comments-on-my-post > .container-comment {
    width: 100%;
    height: 90%;
}
.comments-on-my-post .container-comment > .post-comment-form {
    width: 100%;
    height: fit-content;
    padding: .5em;
}
.comments-on-my-post .container-comment > .post-comment-form > form {
    display: grid;
    grid-template-columns: 1fr 7em;
    column-gap: .5em;
}
.comments-on-my-post .container-comment > .post-comment-form input[type=text] {
    width: 100%;
    border-radius: 5px;
    padding-left: .5em;
}
.comments-on-my-post .container-comment > .post-comment-form button {
    width: fit-content;
    padding: .5em;
    border-radius: 5px;
    background-color: var(--light-buttom);
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
    transition: .75s;
}
.comments-on-my-post .container-comment > .post-comment-form button:hover {
    background-color: var(--hover-buttom);
    transition: .75s;
}
.comments-on-my-post .container-comment > .post-comments-container {
    height: 59%;
    padding: 0 0 1em 1.5em;
    overflow-y: auto;
}
main .my-cover > div.user-statics {
    position: absolute;
    top: 1.5em;
    left: 1em;
    align-self: flex-start;
    width: fit-content;
    height: fit-content;
    color: #FFFFFF;
    font-weight: 900;
    text-shadow: var(--shadows-medium) 1px 1px 5px;
    font-size: 1.2em;
}

































}