{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    <title>SpicyX | Esqueci minha senha</title>
{% endblock %}

{% block scripts %}
    <script src='https://www.google.com/recaptcha/api.js?render=6LfXHEkpAAAAAOBfC9W2wg09TsyTlTT2wKbQoiUR'></script>
{% endblock %}

{% block content %}
    <script>
        window.onload = function () {
            var banner = document.getElementById('cookie-banner');
            var last_posts = document.getElementById('last_posts_container')
            banner.style.display = 'none'
            last_posts.style.display = 'none'
        }
    </script>
    <div class="form-index">
        <div class="site-container">
            <div class="logo_and_titulo">
                <img class="logo" src="{% static 'images/spicyx.png' %}" alt="logo">
                <b>SpicyX</b>
            </div>
            <div class="index_subtitles">
                <b>Seja um apoiador dos seus criadores favoritos</b>
            </div>
        </div>
        <span>Defina a nova senha</span>
        {% if validlink %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            <label>Nova senha: </label>
            <input type="password" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1">
            <span>{{ form.new_password1.errors }}</span>

            <label>Confirme a nova senha:</label>
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            <span>{{ form.new_password2.errors }}</span>

            <script>
                grecaptcha.ready(function () {
                    grecaptcha.execute('{{recaptcha_site_key}}', {action: "/contact/"}).then(function (token) {
                        document.getElementById('g-recaptcha-response').value = token;
                    });
                });
            </script>
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <button type="submit" name="submit">Redefinir senha</button>
        </form>
        {% endif %}
    <div class="send_to_login">
        Acessar sua conta? <a href="/">Login</a>
    </div>
    </div>
{% endblock %}