{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    <title>SpicyX | Esqueci minha senha</title>
{% endblock %}

{% block scripts %}
    <script src='https://www.google.com/recaptcha/api.js?render=6LfXHEkpAAAAAOBfC9W2wg09TsyTlTT2wKbQoiUR'></script>
{% endblock %}

{% block content %}
    <script>
        window.onload = function () {
            var banner = document.getElementById('cookie-banner');
            var last_posts = document.getElementById('last_posts_container')
            banner.style.display = 'none'
            last_posts.style.display = 'none'
        }
    </script>
    <div class="form-index">
        <div class="site-container">
            <div class="logo_and_titulo">
                <img class="logo" src="{% static 'images/spicyx.png' %}" alt="logo">
                <b>SpicyX</b>
            </div>
            <div class="index_subtitles">
                <b>Seja um apoiador dos seus criadores favoritos</b>
            </div>
        </div>
        <span>Senha redefinida</span>
        <div style="padding: 1em; text-align: left;">
            Senha redefinida com sucesso! <br/>
            Agora você já pode realizar o login.
        </div>

    <div class="send_to_login">
        Acessar sua conta? <a href="/">Login</a>
    </div>
    </div>
{% endblock %}