{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    <title>SpicyX | Esqueci minha senha</title>
{% endblock %}

{% block scripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
    <script>
        window.onload = function () {
            var banner = document.getElementById('cookie-banner');
            var last_posts = document.getElementById('last_posts_container')
            banner.style.display = 'none'
            last_posts.style.display = 'none'
        }
    </script>
    <div class="form-index">
        <div class="site-container">
            <div class="logo_and_titulo">
                <img class="logo" src="{% static 'images/spicyx.png' %}" alt="logo">
                <b>SpicyX</b>
            </div>
            <div class="index_subtitles">
                <b>Seja um apoiador dos seus criadores favoritos</b>
            </div>
        </div>
        <span>Redefina sua senha</span>
        <form id="resetForm" name="resetForm" action="{% url 'password_reset' %}" method="POST">
            {% csrf_token %}
            <input id="id_email" name="email" type="email" autocomplete="off" placeholder="E-mail" required>
            <div class="g-recaptcha" data-sitekey="6Lf55FQpAAAAAMNfSzUCa2T2yesJZfLUl2nH0Btr"></div>
            <button id="reset_pass" type="submit" name="submit">Redefinir senha</button>

            <script>
                var fields = document.querySelectorAll('input')
                var submitbutton = document.getElementById('reset_pass')

                function checkFields() {
                    for (var i = 0; i < fields.length; i++) {
                        if (fields[i].type !== 'hidden' || fields[i].id !== 'g-recaptcha-response') {
                            if (fields[i].value === '') {
                                submitbutton.disabled = true
                                submitbutton.style = 'background-color: #8a8a8a;'
                                return
                            }
                        }
                    }
                    submitbutton.disabled = false
                    submitbutton.style = 'background-color: #e59cc4;'
                }

                for (var i = 0; i < fields.length; i++) {
                    fields[i].addEventListener('input', checkFields)
                }
                checkFields()

                submitbutton.addEventListener('click', function (e) {
                    var button = e.target;
                    button.disabled = true;
                    var responseCaptcha = document.getElementById('g-recaptcha-response');
                    if (!responseCaptcha) {
                        responseCaptcha = document.getElementById('g-recaptcha-response');
                    }
                    if (responseCaptcha && responseCaptcha.value !== '') {
                        document.getElementById('resetForm').requestSubmit()
                    } else {
                        e.preventDefault();
                        button.disabled = false;
                    }
                })
            </script>
        </form>

    <div class="send_to_login">
        Acessar sua conta? <a href="/">Login</a>
    </div>
    </div>
{% endblock %}